@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "shared/_variables.scss";

@import "~bootstrap/scss/bootstrap";

body {
    font-family: $primary_font, sans-serif;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
        background-color: green;
    }

    &.alert-error {
        background-color: red;
    }

    &.alert-info {
        background-color: blue;
    }
}

.vich-image {
    .form-check{
        @extend .mt-3;
    }

    img{
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
    }
    
}

.pin img {

    &:hover{
        transition: transform 0.3s ease-out;
        transform: scale(1.075);
    }
}